*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
     font-family: 'Poppins', sans-serif;  
}
header{
    background-color: rgba(22, 95, 22, 0.726);
}      
.navs{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    /* border: 2px solid red; */
} 
.menu-items{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    gap: 1.2em;
   
}
.my-logo{
    color: #122231;
    font-style: italic;
    text-decoration: none;
}
.my-logo h1{
    font-size: 1.6em;
}
.menu-items li a{
    color: #fff;
    text-decoration: none;
}
.menu-items li a:hover{
    color: #122231;
}
.btn-icons{
   display: flex; 
   align-items: center;
   gap: 1.2em;
}
.btn-icons a{
    border: thin solid black;
    padding: 10px 16px;
    border-radius: 5px;
    background-color: #122231;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.btn-icons a:hover{
    background-color: white;
    color: #122231;
}

.fa-cart-shopping{
    cursor: pointer;
    font-size: 1.4em;
    color: white;
}
.fa-bars{
    visibility: hidden;
    font-size: 1.4em;
    color: white;
}

/* ---media--query--- */
@media(max-width:884px){
    .menu-items{
        display: none;
    }
    .navs{
        justify-content: space-between;
        width: 100%;
    }
    .btn-icons a{
        display: none;
    }
    .fa-bars{
        visibility: visible;
    }
}


h1{
    color: #122231;
}